#tutorialmap { height: 180px; }
#t2map { height: 180px; }
.leaflet-popup-content p {
    margin: 0.2em 0;
}
#map {
    height: 525px;
    width: 60%;
    display: inline-block;
}

#panel {
    width: 40%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}
